# Database
DATABASE_URL="mysql://root:@127.0.0.1:3307/kuliner_db"

# Server
PORT=3000
NODE_ENV=development

# JWT — ganti JWT_SECRET dengan string random yang panjang dan unik!
JWT_SECRET="ganti_dengan_secret_key_yang_sangat_panjang_dan_rahasia"
JWT_EXPIRES_IN="8h"
